.popupImg{
display: none;
width: 100%;
height: 100vh;
position: fixed;
justify-content: center;
align-items: center;
top: 0;
background-color: rgba(0, 0, 0, 0.5);
}

.popupImg__opened{
display:flex;
}

.popupImg__container{
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popupImg__close-button{
position: absolute;
right: -43px;
top:-38px;
border: none;
background: transparent;
}

.popupImg__close-button:hover{
opacity: 60%;
}

.popupImg__title{
color: black;
width: 330px;
height: 23px;
font-family: 'Inter';
font-weight: 900;
font-size: 24px;
line-height: 29px;
margin-left: 36px;
margin-top: 34px;
}

.popupImg__form{
width: 360px;
display: flex;
flex-direction: column;
align-items: stretch;
box-sizing: border-box;
align-self: center;
}

.popupImg__ttl{
width: 358px;
height: 27.3px;
width: 100%;
border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popupImg__ttl::placeholder{
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #C4C4C4;
}

.popupImg__url{
width: 358px;
height: 27.3px;
width: 100%;
margin-top: 29.7px;
border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popupImg__url::placeholder{
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #C4C4C4;
}

.popupImg__save-button{
width: 358px;
height: 50.1px;
margin-top: 48px;
background-color: white;
border: 1px solid rgba(0, 0, 0, 0.2);
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #C4C4C4;
}

.popupImg__save-button_active{
background-color: black;
color: white;
}

.popupImg__save-button_active:hover{
background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 880px){

.popupImg__container{
width: 88vw;
max-width: 430px;
height: 322px;
}

.popupImg__title{
font-size: 18px;
}

.popupImg__form{
width: 74vw;
max-width: 358px;
}


form{
width: 74vw;
max-width: 358px;
align-items: flex-end;
justify-content: center;
}

.popupImg__name{
width: 74vw;
max-width: 358px;
height: 26px;
}

.popupImg__acerca{
width: 74vw;
max-width: 358px;
height: 26px;
}

.popupImg__save-button{
width: 74vw;
max-width: 358px;
height: 46px;
margin-top: 46px;
font-size: 14px;

}

}


@media screen and (max-width: 550px){

.popupImg__close-button{
right: 0;
top:-55px;
}

.popupImg__close-image{
width: 26px;
height: 26px;
}

}



